# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
dist/
/packages/*/lib/
/functions/lib/
.turbo/

# Env
.env
.env.local
.env.*.local

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
*.tsbuildinfo

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json

# Tests
coverage/
playwright-report/
test-results/
